.body-404{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;

    .buttons{
        padding-bottom: 40px;
        a{
            border-color: white !important;
            padding: 10px;

            &:hover{
                color: white;
                text-decoration: none;
            }
        }
    }
}
.page-container-404{
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    width: 50%;
    margin: auto;
    height: auto;
    background-color: #0B8071;
    border-radius: 5px;
}
.page-container-404 p{
    color: white;
    font-size: 180px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.page-container-404 h1{
    color: white;
    padding-bottom: 40px;
}

@media screen and (max-width: 767px){
    .page-container-404{
        width: 90%;
        height: 90%;
        p{
            font-size: 120px;
        }
    }
}