#profile_driver {
    .edit-route-overlay {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .edit-route-modal {
            height: 80vh;
            width: 40vw;
            position: absolute;
            background-color: white;
            border-radius: 14px;
            box-shadow: 0px 2px 2px gray;
            box-shadow: 0px 0px 31px -1px rgba(0, 0, 0, 1);

            .custom-container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 95%;
                margin: auto;

                i {
                    font-size: 2em;
                    margin-top: 5px;
                    cursor: pointer;
                }

                .edit-route-modal-inputs {
                    width: 90%;
                    margin: auto;

                    label {
                        font-size: 18px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #000;
                    }

                    input {
                        outline: none;
                        border-radius: 5px;
                        width: 100%;
                        border: 1px solid #d3d3d3;
                        height: 45px;
                        margin-bottom: 5px;
                        padding-left: 15px;
                        background-color: #F7F7F7;
                    }

                    textarea {
                        outline: none;
                        border-radius: 5px;
                        width: 100%;
                        max-height: 100px;
                        border: 1px solid #d3d3d3;
                        padding-left: 15px;
                        background-color: #F7F7F7;
                        border: 1px solid #d3d3d3;
                    }
                }
            }

        }
    }

    .package-control-container {
        display: flex;
    }

    .add-route-btn,
    .delete-route-btn,
    .add-date-btn {
        height: 30px !important;
        width: 30px !important;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        margin: 5px;
    }

    .add-route-btn,
    .add-date-btn {
        background-color: limegreen;
    }

    .delete-route-btn {
        background-color: orangered;
    }

    margin-top: 24px;

    .tab_headers {
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            border-radius: 4px;
            background-color: #F7F7F7;

            li {
                border-bottom: solid 1px #dfdfdf;
                position: relative;

                a {
                    cursor: pointer;
                    padding: 16px 22px;
                    font-family: Averta;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #666666;
                    display: block;
                    text-decoration: none;
                }

                &:nth-last-child(1) {
                    border: none;
                }

                &:hover {
                    color: #098071;

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background-color: #0b8071;
                    }
                }
            }

            .active {
                a {
                    color: #098071;
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background-color: #0b8071;
                }
            }
        }
    }

    .dates {
        display: flex;
        justify-content: space-between;

        .inputs {
            width: 47%;

        }
    }

    .visited_places {
        display: flex;

        .places {
            font-family: Averta;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #666666;
            padding: 15px;
            height: 46px;
            border-radius: 4px;
            border: solid 1px #dfdfdf;
        }
    }

}