@media screen and (max-width: 900px){
    //common
    .pagination{
        display: flex;
        justify-content: center;
    }
    .small-menu{
        display: block;
    }

    .menu, .center-header .buttons{
        display: none;
    }
    //index.html
    .start_your_journey_bottom{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .start_your_journey_bottom input, .start_your_journey_bottom button{
        width: 90% !important;
        margin: 10px 0px !important;
    }
    .swiper_most_popular_drivers_top, .swiper_popular_attractions_locations_top, .swiper_our_offers_partners_top{
        width: 90%;
        margin: 20px auto !important;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    h6{
        margin: 0;
    }

    #swiper_most_popular_drivers, #swiper_popular_attractions_locations, .swiper_our_offers_partners_bottom, .swiper_our_offers_partners_bottom_item, .swiper_latest_tourists_reviews_bottom{
        width: 90%;
        margin: auto;
    }
    .swiper-slide, .swiper-slide-active{
        margin: 10px 0;
    }
    
    .mursheed_app_left{
        text-align: center;
    }
    .site-map{
        margin-top: 25px;
    }

    //flightreservation.html
    .aviacompany{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }
    .aviacompany_img{
        width: 20%;
        margin-right: 20px;
    }
    .flight_details .buttons button{
        width: 100%;
        margin: auto;
    }

    //driver_details.html
    .about_driver_info_left{
        justify-content: center;
        margin-top: 10px;
    }

    //driver_register.html
    .actions{
        display: flex !important;
        justify-content: center;
    }   
    .actions ul{
        padding: 0;
    }
    .custom-container .col-md-12{
        padding: 0;
    }
    #login_register .col-md-8 .wrapper{
        padding: 0 !important;
    }

    #login_register div.form{
        width: 90%;
        margin: auto;
    }

    .wizard > .content > .body{
        position: static;
    }
    
    //register pages

    button.view, button.view_confrim{
        position: absolute;
        right: 1px;
        bottom: 0;
        top: 0;
        min-width: 10px !important;
        border-right: none;
        padding: 0 10px;
    }

    #guides_drivers .content .body .person_details{
        flex-direction: column;

        .buttons button{
            margin: 5px;
        }
    }
    
    #login_register .wrapper .form .InputGroup{
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    #login_register .wrapper .form .InputGroup label{
        width: 100% !important;
        margin: 10px auto;
    }

    #login_register .wrapper .form .submit_reg{
        width: 100% !important;
        margin: auto;
    }
    .inside-inner{
        display: none !important;
    }
    .login-reg-btns{
        flex-direction: column;
        align-items: flex-end;
        display: none;
        position: absolute;
        right: 0;
        top: 54px;
        background-color: #f9f9f9;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 10;
    }
    .inside-inner-mobile{
        display: block;
        .left-side-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .profile-nav{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #0b8071;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: white;
                }
            }
        }
        .currency-country{
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            flex-direction: row;
            .custom-selectbox{
                .select-selected{
                    border: none;
                    color: black;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 0;
                      &::after{
                        content: "";
                        background: none;
                        border: none;
                    }
                }
                .select-items{
                    width: 80px;
                    overflow: hidden;
                    div{
                        font-size: 14px;
                    }
                }
            }
            .country, .currency{
                border: 1px solid #0b8071;
                padding: 5px;
                border-radius: 3px;
            }
            span{
                font-family: Averta;
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $main-color;
            }
            p{
                font-family: Averta;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: black;
            }
        }
    }
    .header .center-header{
        display: none;
    }
    .header .center-header-mobile{
        display: block;
        padding: 15px 0 5px 0;
        .wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .left-side-nav{
                padding-top: 5px;
            }
            .logo{
                img{
                    width: fit-content !important;
                }
            }
            .small-menu{
                .sub-menu{
                    .buttons{
                        display: block !important;
                        button{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .follow-us{
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        .social-icons{
            padding-top: 15px;
        }
    }
    .swiper-slide{
        a{
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    .swiper_popular_attractions_locations_bottom_center, .swiper_most_popular_drivers_bottom_center{
        .swiper-slide{
            a{
                display: flex;
                justify-content: center;
                width: 95%;
                margin: auto;
                height: 100%;
            }
        }
    }
    .select2-container--default{
        width: 100% !important;
        height: 40px !important;
        margin: 10px auto !important;
        margin-bottom: 10px;
        outline: none;
    }
    .select2-selection__rendered li {
        height: 35px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .select2-selection__choice__remove{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 767px){
    .action-modal {
        width: 80vw !important;
    }
    .location-card-container{
        width: 100% !important;
    }
    .start_your_journey_bottom{
        select{
            width: 90% !important;       
            margin-bottom: 15px !important;
            padding-left: 10px !important;
        }
    }
    .new_route{
        padding: 0 !important;
        .inputs{
            padding-bottom: 0;
            &:nth-child(4){
                padding-top: 30px !important;
            }
        }
    }
}
