.select2-search__field {
    border: 0;
}
/*chart wizard*/
.wizard > .steps > ul > li {
    margin-bottom: 10px;
    /*//width: auto;*/
}

.wizard > .steps .current a, .wizard > .steps .current a:active, .wizard > .steps .current a:hover {
    background-color: #0b8071;
    color: #ffffff;
    /* padding: 0 20px 0 0; */
}

.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
    margin: 3px;
    padding: 0;
    -ms-border-radius: 0px;
    border-radius: 5px;
}

.wizard > .steps .number {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    width: 38px;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    margin-right: 10px;
    background-color: rgba(11, 128, 113, 0.4196078431372549);
}